#nav-triangle {
  width: 193px;
  height: 107px !important;
  display: none;
  margin-top: 55px;
}

#nav-triangle2 {
  width: 193px;
  height: 107px;
  position: absolute;
  left: 24%;
  top: 0px;
}

@media (min-width: 300px) {
  #nav-triangle2 {
    left: 31%;
    top: 0px;
  }
}

@media (min-width: 500px) {
  #nav-triangle2 {
    left: 34%;
    top: 0px;
  }
}

@media (min-width: 768px) {
  #nav-triangle2 {
    display: none;
  }
}

@media (max-width: 764px) {
  #nav-triangle {
    display: none;
  }
}

@media (min-width: 768px) {
  #nav-triangle {
    display: block;
  }
}

.nav-triangle {
  width: 195px;
  height: 200px;
  -webkit-clip-path: polygon(49% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background-image: url("../../assets/img/Impasse-edit.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 300px) {
  .nav-link {
    padding: 0px 9px 0px 9px !important;
  }
}

@media (min-width: 768px) {
  .nav-link {
    padding: 0px 9px 0px 9px !important;
    border-right: 1px solid;
  }
}

.navbar-nav li:last-of-type a {
  padding: 0px 9px 0px 9px !important;
  border-right: none;
}

#navbar {
  height: 52px;
  background-color: black !important;
}

@media (min-width: 300px) {
  #navbar {
    height: auto;
  }
}

@media (min-width: 768px) {
  #navbar {
    height: 52px;
  }
}

#left-nav a, #right-nav a {
  color: white;
}

#hero-div {
  background-image: url("../../assets/img/austin-neill-403340-unsplash.jpg");
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 49% 53%;
}

@media (min-width: 576px) {
  #hero-div {
    background-position: 26% 53%;
  }
}

@media (min-width: 768px) {
  #hero-div {
    background-position: 26% 34%;
  }
}

@media (min-width: 992px) {
  #hero-div {
    background-position: 26% 51%;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  #hero-div {
    background-position: 26% 51%;
    height: 432px;
  }
}

#triangle-image {
  width: 360px;
}

#band-name-div {
  text-align: center;
  padding-top: 45px;
}

#band-name {
  font-size: 64px;
  color: rgb(255,255,255);
  font-family: 'Alfa Slab One', cursive;
  background-color: rgba(126,126,126,0.11);
  font-weight: normal;
  font-style: normal;
}

#triangle-image {
  background-image: url("../../assets/img/triangle.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 354px;
  width: 462px;
  margin: auto;
}

#triangle-image-container {
  height: 500px;
}

@media (max-width: 400px) {
  #triangle-image-container {
    display: none;
  }
}

@media (max-width: 462px) {
  #triangle-image-container {
    width: 75%;
    margin: auto;
  }
}

@media (max-width: 462px) {
  #triangle-image {
    width: 100%;
  }
}

@media (max-width: 576px) and (max-width: 768px) {
  #hero-div {
    height: 531px;
  }
}

@media (min-width: 576px) {
  #hero-div {
    height: 531px;
  }
}

@media (min-width: 768px) {
  #hero-div {
    height: 531px;
  }
}

@media (min-width: 992px) {
  #hero-div {
    height: 447px;
  }
}

#triangle-text {
  font-size: 19px;
  width: 95%;
  margin: auto;
}

.active {
  color: #a48f8f !important;
  border-right: solid 1px white;
}

#recent-album-title-bg {
  background-color: #000000;
  color: white;
  position: relative;
  font-family: 'Fjalla One', sans-serif;
}

#recent-album-title {
  position: absolute;
  left: 0vw;
  z-index: 3;
  color: white;
  font-size: 35px;
  width: 100%;
  padding-top: 42px;
  letter-spacing: 0px;
}

#recent-album-title-p {
  font-weight: bold;
  font-size: 95px;
  color: rgba(255,255,255,0.06);
  letter-spacing: 7px !important;
  margin-bottom: 0px;
}

#recent-music-hr hr {
  border: solid 1.2px orange;
}

#recent-music-hr {
  left: 32.5vw;
  position: absolute;
  top: 49px;
  z-index: 1;
  width: 35%;
}

.album-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

p {
  margin-bottom: 0px;
}

#footer {
  background-color: #263238;
}

#album-hero-div {
  background-image: url("../../assets/img/turntable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 437px;
}

#album-hero-title {
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 3em;
}

#album-hero-title p {
  font-family: 'Alfa Slab One', cursive;
}

.dash-cards-container {
  width: 100%;
  height: 142px;
  color: white !important;
  border-radius: .5em .5em 0 0;
}

.dash-cards-icon-container {
  font-size: 60px;
  text-align: center;
}

.dash-cards-button-container {
  width: 100%;
  height: 30px;
}

.no-border-top {
  border: none !important;
}

.row.dash-table-title-container {
  background-color: #cfd8e1;
  padding: 5px;
  border-radius: 0.5em 0.5em 0 0;
}

.col.dash-table-container {
  background-color: #cfd8e1;
  padding: 4px;
}

.link-container {
  width: 95%;
  height: 95%;
  margin-right: 5%;
  position: absolute;
  background-color: rgba(0,0,0,0.65);
  border-radius: 1em;
  margin-right: 2.5% !important;
  right: 50000px;
  margin-top: 2.5% !important;
}

.album-exit-btn {
  cursor: pointer;
}

.album-link {
  font-size: 33px;
}

.album-link-icon {
  font-size: 41px;
}

@media (min-width: 299px) {
  .album-link-icon {
    font-size: 45px;
  }
}

@media (min-width: 299px) {
  .album-link {
    font-size: 19px;
  }
}

@media (min-width: 575px) {
  .album-link-icon {
    font-size: 59px;
  }
}

